*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: #0a0a23;
    color: #fff;
}

#title {
    margin: auto;
    text-align: center;
    padding-top: 12%;
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 50px;
}
#container {
    background-color: #fff;
    color: #000;
    max-width: 500px;
    margin: auto;
    min-height: 120px;
    border-radius: 20px;
    box-shadow: 0 6px 6px #002ead;
    margin-bottom: 30px;
}
label {
    display: block;
    text-align: center;
    font-size: 1.3em;
    padding: 15px 0;
}
#text-container {
    display: flex;
    justify-content: center;
    height: 40px;
    gap: 10px;
}
#text-input {
    border: none;
    border-bottom: #5a01a7 2px solid;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
}
#check-button {
    width: 20%;
    border-radius: 15px;
    background-color: #5a01a7;
    color: #fff;
    cursor: pointer;
}
.box {
    max-width: 500px;
    margin: auto;
    background-color: #00471b;
    font-size: 1.4rem;
    display: flex;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.hide {
    font-size: 1.4rem;
    margin: 15px;
    text-align: center;
    height: 50px;
    font-weight: 700;
}